@model IEnumerable<LuxenHotel.Models.ViewModels.Booking.AccommodationViewModel>
@using System.Text.RegularExpressions

@{
    ViewData["Title"] = "Accommodations";
}

@section Styles {
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">
}

@section Scripts {
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#roomTable').DataTable({
                paging: true, // Bật phân trang
                searching: true, // Bật tìm kiếm
                ordering: true, // Bật sắp xếp cột
                info: true, // Hiển thị thông tin bảng
                columnDefs: [
                    {
                        targets: [0, 3], // Cột IMAGE và PURCHASE
                        orderable: false // Tắt sắp xếp cho các cột này
                    }
                ],
                rowCallback: function (row, data, index) {
                    $(row).removeClass('hover');
                    $('table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd').css('background-color', '');
                }
            });
        });
    </script>
}

<div class="container">
    <div class="row">
        <div class="col-lg-9"><!-- Explore Rooms -->
            <table id="roomTable" class="display">
                <thead>
                    <tr class="products-title">
                        <th class="table-products-image pos-center">Image</th>
                        <th class="table-products-name pos-center">Accommodation</th>
                        <th class="table-products-price pos-center">Price</th>
                        <th class="table-products-total pos-center">Purchase</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var room in Model)
                    {
                        <tr class="table-products-list pos-center">
                            <td class="products-image-table">
                                @if (room.Thumbnail != null)
                                {
                                    <img src="@room.Thumbnail" alt="@room.Name" class="img-responsive" />
                                }
                                else
                                {
                                    <img src="https://t3.ftcdn.net/jpg/02/48/42/64/360_F_248426448_NVKLywWqArG2ADUxDq6QprtIzsF82dMF.jpg"
                                        alt="No Image" class="img-responsive" />
                                }
                            </td>
                            <td class="title-table">
                                <div class="room-details-list clearfix">
                                    <div class="pull-left">
                                        <h5>@room.Name</h5>
                                    </div>
                                </div>

                                @{
                                    var plainText = Regex.Replace(room.Description ?? "", "<.*?>", ""); // loại bỏ HTML
                                    var description = string.IsNullOrEmpty(plainText)
                                    ? "No description available"
                                    : plainText.Length > 100
                                    ? plainText.Substring(0, 100) + "..."
                                    : plainText;
                                }

                                <p>@description</p>
                            </td>
                            <td>
                                <h3>
                                    @room.Price.ToString("#,##0 ")
                                    <i class="fa-solid fa-dong-sign" style="font-size: 0.8em;"></i>
                                </h3>
                            </td>
                            <td>
                                <div class="book-button">
                                    <a href="@Url.Action("AccommodationDetails", "Booking", new { id = room.Id })">
                                        <span class="mobile-visibility">BOOK</span>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-lg-3"><!-- Sidebar -->
            <div class="quick-reservation-container">
                <div class="quick-reservation clearfix">
                    <div class="title-quick pos-center margint30">
                        <h5>QUICK RESERVATIONS</h5>
                        <div class="line"></div>
                    </div>
                    <div class="reserve-form-area">
                        <form action="#" method="post" id="ajax-reservation-form">
                            <label class="text-white">ARRIVAL</label>
                            <input type="text" id="dpd1" name="dpd1" class="date-selector" placeholder="">
                            <label class="text-white">RETURN</label>
                            <input type="text" id="dpd2" name="dpd2" class="date-selector" placeholder="">
                            <div class="pull-left children clearfix">
                                <label class="text-white">ROOMS</label>
                                <span class="sod_select " tabindex="0" data-cycle="false" data-links="false"
                                    data-links-external="false" data-placeholder-option="false" data-filter=""><span
                                        class="sod_label">1</span><span class="sod_list_wrapper"><span
                                            class="sod_list"><span class="sod_option  selected active " title="1"
                                                data-value="1">1</span><span class="sod_option " title="2"
                                                data-value="2">2</span><span class="sod_option " title="3"
                                                data-value="3">3</span><span class="sod_option " title="4"
                                                data-value="4">4</span><span class="sod_option " title="5"
                                                data-value="5">5</span></span></span><select name="rooms"
                                        class="pretty-select">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select></span>
                            </div>
                            <div class="pull-left type clearfix">
                                <label class="text-white">ADULT</label>
                                <span class="sod_select " tabindex="0" data-cycle="false" data-links="false"
                                    data-links-external="false" data-placeholder-option="false" data-filter=""><span
                                        class="sod_label">1</span><span class="sod_list_wrapper"><span
                                            class="sod_list"><span class="sod_option  selected active " title="1"
                                                data-value="1">1</span><span class="sod_option " title="2"
                                                data-value="2">2</span><span class="sod_option " title="3"
                                                data-value="3">3</span><span class="sod_option " title="4"
                                                data-value="4">4</span><span class="sod_option " title="5"
                                                data-value="5">5</span></span></span><select name="adult"
                                        class="pretty-select">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select></span>
                            </div>
                            <div class="pull-left rooms clearfix">
                                <label class="text-white">CHILDREN</label>
                                <span class="sod_select " tabindex="0" data-cycle="false" data-links="false"
                                    data-links-external="false" data-placeholder-option="false" data-filter=""><span
                                        class="sod_label">0</span><span class="sod_list_wrapper"><span
                                            class="sod_list"><span class="sod_option  selected active " title="0"
                                                data-value="0">0</span><span class="sod_option " title="1"
                                                data-value="1">1</span><span class="sod_option " title="2"
                                                data-value="2">2</span><span class="sod_option " title="3"
                                                data-value="3">3</span><span class="sod_option " title="4"
                                                data-value="4">4</span><span class="sod_option " title="5"
                                                data-value="5">5</span></span></span><select name="children"
                                        class="pretty-select">
                                        <option selected="selected" value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select></span>
                            </div>
                            <div class="pull-left search-button clearfix">
                                <div class="book-button">
                                    <a id="res-submit" href="#">SEARCH</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>